body{
    font-family: "Quicksand", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 30px;
}

.container{
    display:flex;
    flex-direction: column;
    gap: 0.5em;
}

a{
    color: #000;
    text-decoration: none;
    display: block;
    position: relative;
}

a:after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-image: 
    url("https://assets.codepen.io/2970881/highlighter.svg");
    background-repeat: no-repeat;
    left: 0;
    z-index: -1;
    transform: scalex(0);
    transform-origin: 100% 50%;
    transition: transform 255ms ease-in-out;
}
a:hover::after{
    transform: scalex(1);
    transform-origin: 0 0;
}

a:nth-of-type(2)::after{
    background-image: url("https://assets.codepen.io/2970881/highlighter_highlighter-blue.svg");
}

a:nth-of-type(3)::after{
    background-image: url("https://assets.codepen.io/2970881/highlighter_highlighter-pink.svg");
}

a:nth-of-type(4)::after{
    background-image: url("https://assets.codepen.io/2970881/highlighter_highlighter-green.svg");
}